<div class="card z-depth-1">
  <form class="card-block form" {{action "next" model on="submit"}}>
    <fieldset>
      <legend class="display-4 text-xs-center text-muted">Step 1</legend>
      <p class="lead text-xs-center">Create Your Account</p>
    </fieldset>

    <fieldset class="form-group has-danger">
      <label for="name">Name</label>
      {{!-- {{#if (v-get model 'name' 'isInvalid')}}
        <div class="alert alert-danger" role="alert">
          {{v-get model 'name' 'message'}}
        </div>
      {{/if}} --}}
      {{input type="text" value=model.name class="form-control form-control-danger" id="name" placeholder="Your full name" autocomplete="off"}}
    </fieldset>

    <fieldset class="form-group">
      <label for="email">Email address</label>
      {{input type="email" value=model.email class="form-control" id="email" placeholder="you@example.com"}}
    </fieldset>

    <fieldset class="form-group">
      <label for="password">Password</label>
      {{input type="password" value=model.password class="form-control" id="password" placeholder="8 character minimum"}}
    </fieldset>

    <fieldset class="form-group m-t-3">
      <button type="submit" class="btn btn-success-2 btn-block btn-lg">Next Step</button>
    </fieldset>
  </form>
</div>
